<form action="/addition_results">
<h1>New Addition</h1>
<label for="Maximum"></label>


<label for="first_number">Add this:</label>
<input id="first_number" type="text" placeholder="e.g. 1.5" name="first_number">



<label for="second_number">To this:</label>
<input id="second_number" type="text" placeholder="e.g. 4.5" name="second_number">

<button>Add!</button>
</form>
