<form action="/wizard_add">
<h1>New Addition</h1>
<label for="Maximum"></label>


<label for="Minimum">Add this:</label>
<input id="ran1" type="text" placeholder="e.g. 1.5" name="Minimum">



<label for="Maximum">To this:</label>
<input id="ran2" type="text" placeholder="e.g. 4.5" name="Maximum">



<button>Add!</button>
</form>
