<h1>Payment Results</h1>

<dt>First Number</dt>
  <dd><%=@first%></dd>

  <dt>Second Number</dt>
  <dd><%=@second%></dd>

  <dt>Result</dt>
  <dd><%=@result%></dd>


  <a href="/wizard_add""> Add more numbers
