<h1>Division Results</h1>

<dt>First Number</dt>
  <dd><%=@first%></dd>

  <dt>Second Number</dt>
  <dd><%=@second%></dd>

  <dt>Result</dt>
  <dd><%=@result%></dd>


  <a href="/divide"> Divide more numbers
