<form action="/multiply_results">
  <h1>New Multiplication</h1>

  <label for="first_number">Multiply this:</label>
  <input id="first_number" type="text" placeholder="e.g. 1.5" name="first">

  <label for="second_number">by this:</label>
  <input id="second_number" type="text" placeholder="e.g. 4.5" name="second">

<button>Multiply!</button>
</form>
