<form action="/subtract_results">
  <h1>New Subtraction</h1>

  <label for="first_number">Subtract this:</label>
  <input id="first_number" type="text" placeholder="e.g. 1.5" name="first">

  <label for="second_number">From this:</label>
  <input id="second_number" type="text" placeholder="e.g. 4.5" name="second">

<button>Subtract!</button>
</form>
